<nav class="navbar navbar-expand-md border-bottom sticky-top bg-white">
    <div class="container-fluid">

        <!-- Logo -->
        <a class="navbar-brand" href="/listings">
            <i class="fa-regular fa-compass"></i>
        </a>

        <!-- Desktop Search -->
        <div class="search-form d-none d-md-flex">

            <form class="d-flex"
                  method="GET"
                  action="/listings/search">

                <input
                    class="form-control me-2 search-inp"
                    type="search"
                    name="q"
                    placeholder="Search Destinations"
                    required>

                <button class="btn btn-search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    Search
                </button>

            </form>

        </div>

        <!-- Mobile Toggle -->
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mobileNav">

            <span class="navbar-toggler-icon"></span>

        </button>

    </div>
</nav>

<!-- Mobile Search -->
<div class="container d-md-none mt-3">

    <form
        class="d-flex"
        method="GET"
        action="/listings/search">

        <input
            class="form-control me-2 search-inp"
            type="search"
            name="q"
            placeholder="Search Destinations"
            required>

        <button class="btn btn-search">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>

    </form>

</div>

<!-- Mobile Menu -->
<div class="collapse navbar-collapse bg-white d-md-none"
     id="mobileNav">

    <div class="navbar-nav text-center p-3">

        <a class="nav-link" href="/listings">
            Explore
        </a>

        <a class="nav-link" href="/listings/new">
            Airbnb your home
        </a>

        <% if(!currUser){ %>

            <a class="nav-link" href="/signup">
                <b>Sign Up</b>
            </a>

            <a class="nav-link" href="/login">
                <b>Login</b>
            </a>

        <% } else { %>

            <a class="nav-link" href="/logout">
                <b>Logout</b>
            </a>

        <% } %>

    </div>

</div>

<!-- Desktop Links -->
<div class="container-fluid d-none d-md-block border-bottom">

    <div class="d-flex justify-content-end py-2">

        <a class="nav-link me-3"
           href="/listings/new">
            Airbnb your home
        </a>

        <% if(!currUser){ %>

            <a class="nav-link me-3"
               href="/signup">
                <b>Sign Up</b>
            </a>

            <a class="nav-link"
               href="/login">
                <b>Login</b>
            </a>

        <% } else { %>

            <a class="nav-link"
               href="/logout">
                <b>Logout</b>
            </a>

        <% } %>

    </div>

</div>